<div
  class="flex min-h-screen flex-col bg-slate-900 bg-cover bg-center bg-no-repeat bg-fixed font-sans text-white"
  style="background-image: url('/assets/img/fondo-hermoso.png')"
>
  <app-header />

  <main
    class="flex-1 w-full flex flex-col items-center justify-center text-center px-4"
  >
    <h1
      class="animate-fade-in-up text-5xl font-extrabold tracking-tight text-white md:text-7xl translate-y-[-100%] sm:translate-y-0"
      style="
        text-shadow: 0 0 25px rgba(0, 191, 255, 0.5),
          0 0 10px rgba(255, 255, 255, 0.3);
      "
    >
      Linkly
    </h1>

    <div class="h-28"></div>

    <p
      class="animate-fade-in-up max-w-lg text-lg font-semibold text-white/80 translate-y-[-160%] sm:translate-y-0"
      style="animation-delay: 0.2s"
    >
      Acortá tus enlaces con Linkly, el acortador de enlaces más rápido y
      seguro.
    </p>
    <div
      class="animate-fade-in-up mt-8 flex justify-center items-center"
      style="animation-delay: 0.4s"
    >
      <a
        routerLink="/auth/login"
        class="rounded-full border-2 border-cyan-400 bg-cyan-900/30 px-6 py-3 sm:px-10 sm:py-4 sm:text-base font-bold text-white shadow-[0_0_15px_#22d3ee,0_0_30px_#22d3ee,inset_0_0_15px_#22d3ee] transition-all duration-300 hover:scale-110 hover:shadow-[0_0_20px_#22d3ee,0_0_40px_#22d3ee,inset_0_0_20px_#22d3ee] cursor-pointer translate-y-[-120%] sm:translate-y-0"
      >
        Comenzar
      </a>
    </div>
  </main>

  <app-footer />
</div>
