<div class="container-main">
  <div class="mb-8">
    <h2 class="title-seccion">Analíticas</h2>
    <p class="description-section">
      Analizá tus enlaces acortados y mirá cuántas veces se han visitado.
    </p>
  </div>

  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
    <div class="col-span-1">
      <div class="p-6 rounded-lg shadow-md bg-neutral">
        <h3 class="dark:text-white text-lg font-semibold mb-2">
          Links acortados
        </h3>
        <p class="text-[#6c5ce7] dark:text-[#45aaf2] text-2xl font-semibold">
          123
        </p>
      </div>
    </div>
    <div class="col-span-1">
      <div class="p-6 rounded-lg shadow-md bg-neutral">
        <h3 class="dark:text-white text-lg font-semibold mb-2">
          Clicks en links
        </h3>
        <p class="text-[#6c5ce7] dark:text-[#45aaf2] text-2xl font-semibold">
          123
        </p>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col my-4">
    <h4 class="subtitle-section">Clicks por enlace</h4>
    <div class="w-full my-4">
      <div class="analytics-container">
        <h2>Analytics Dashboard</h2>
      </div>
    </div>
  </div>
</div>
