<footer
  class="animate-fade-in w-full bg-transparent px-6 py-4 md:px-10"
  style="
    animation-duration: 1s;
    animation-delay: 0.5s;
    background-color: transparent;
  "
>
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 sm:flex-row"
  >
    <div class="flex items-center justify-center gap-x-6">
      <a
        href="https://github.com/Lucascabral95"
        target="_blank"
        class="text-white/60 transition-all duration-300 hover:scale-110 hover:text-cyan-400"
      >
        <i class="fa-brands fa-github text-2xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/lucas-gastón-cabral/"
        target="_blank"
        class="text-white/60 transition-all duration-300 hover:scale-110 hover:text-cyan-400"
      >
        <i class="fa-brands fa-linkedin text-2xl"></i>
      </a>
      <a
        href="https://portfolio-web-dev-git-main-lucascabral95s-projects.vercel.app/"
        target="_blank"
        class="text-white/60 transition-all duration-300 hover:scale-110 hover:text-cyan-400"
      >
        <i class="fa-solid fa-globe text-2xl"></i>
      </a>
    </div>
    <div class="flex items-center justify-center">
      <p class="text-sm text-white/70">
        Hecho con ❤️ por
        <a
          href="https://github.com/Lucascabral95"
          target="_blank"
          class="font-semibold text-white hover:text-cyan-400 hover:underline"
          >Lucas Cabral</a
        >.
      </p>
    </div>
  </div>
</footer>
