<div class="border-2 border-dashed border-base-300 rounded-xl p-12 text-center">
  <div
    class="mx-auto flex size-12 items-center justify-center rounded-full bg-base-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 text-base-content/60"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
      />
    </svg>
  </div>
  <h3 class="mt-4 text-xl font-semibold text-base-content">{{ message() }}</h3>
  <p class="mt-1 text-base-content/70">
    {{ description() }}
  </p>
  <ng-content></ng-content>
</div>
